In [2]:
import pandas as pd
data=pd.read_csv('Mountains.csv',delimiter=',')
data.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [4]:
rr=data.groupby(['Parent mountain'])['Parent mountain'].count()
print(rr)
i=4
while i<=len(rr)-1:
    if rr[i]>3:
#        print(i,rr[i])
        print(rr[i:i+1])
#rr.iloc[i]
    i+=1

Parent mountain
Annapurna             1
Annapurna I           2
Annapurna III         1
Batura Sar            3
Cho Oyu               7
Chogolisa             2
Churen Himal          1
Dhaulagiri            4
Dhaulagiri II         1
Dhaulagiri IV         3
Distaghil Sar         5
Gangkar Puensum       2
Gangkhar Puensum      2
Gasherbrum I          8
Gasherbrum II         1
Gasherbrum III        1
Ghent Kangri          1
Ismail Samani Peak    1
K2                    5
Kamet                 3
Kangchenjunga         7
Kanjut Sar            1
Khunyang Chhish       3
Kongur Tagh           2
Kula Kangri           1
Labuche Kang          1
Lhotse                2
Makalu                1
Malubiting            2
Manaslu               3
Masherbrum            1
Momhil Sar            1
Mount Everest         9
Muztagh Ata           1
Nanda Devi            2
Noshaq                2
Pumari Chhish         1
Rakaposhi             1
Rimo I                1
Saltoro Kangri        2
Saser Kangri I        2
Shisha Pangma         4
Shishapangma          1
Shispare              1
Skil Brum             2
Skil Brum (K2)        1
Teram Kangri I        3
Teram Kangri III      1
Tirich Mir            1
Tongshanjiabu         1
Trivor                1
Yukshin Gardan Sar    1
Name: Parent mountain, dtype: int64
Parent mountain
Cho Oyu    7
Name: Parent mountain, dtype: int64
Parent mountain
Dhaulagiri    4
Name: Parent mountain, dtype: int64
Parent mountain
Distaghil Sar    5
Name: Parent mountain, dtype: int64
Parent mountain
Gasherbrum I    8
Name: Parent mountain, dtype: int64
Parent mountain
K2    5
Name: Parent mountain, dtype: int64
Parent mountain
Kangchenjunga    7
Name: Parent mountain, dtype: int64
Parent mountain
Mount Everest    9
Name: Parent mountain, dtype: int64
Parent mountain
Shisha Pangma    4
Name: Parent mountain, dtype: int64